<?xml version="1.0" encoding="UTF-8"?>
	<neo4j-server>
		<server_address>bolt://localhost:7687</server_address>
		<username>oier</username>
		<password>ajenjo</password>
	</neo4j-server>
	<maps>
		<DIS_API_KEY>AIzaSyCTVNxm5tt3YNfe2U5clUfr_RvKqEMlx-4</DIS_API_KEY>
		<DIR_API_KEY>AIzaSyAyjcqYWIWpMqAjqedZbrOO70Wb96B-Z2Y</DIR_API_KEY>
	</maps>

